/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora"); */

html,body {
    height: 100%;
    /*background-color: #cbc0d3;*/
    background-image: linear-gradient(0deg, #949de0 35%, #9e81e7 84%);
}

/* 容器的样式 */
.container {
    margin: auto;
    width: 650px;
    height: 550px;
    position: relative;
}
/* 注册登录页面 */
.welcome {
    background: #f6f6f6;
    width: 650px;
    height: 415px;
    position: absolute;
    top: 25%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.bluebox {
    position: absolute;
    top: -10%;
    left: 5%;
    background: #c4c9e5;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.nodisplay {
    display: none;
    transition: all 0.5s ease;
}

.leftbox, .rightbox {
    position: absolute;
    width: 50%;
    transition: 1s all ease;
}

.leftbox {
    left: -2%;
}

.rightbox {
    right: -2%;
}

/* 字体和按钮的样式 */
h1 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 95px;
    text-transform: uppercase;
    color: #f6f6f6;
    font-size: 2em;
    letter-spacing: 8px;
}

.title {
    font-family: "Lora", serif;
    color: #8e9aaf;
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    margin-top: 17%;
}

.desc {
    margin-top: -8px;
}

.account {
    margin-top: 55%;
    font-size: 10px;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}

span {
    color: #d179e5;
}
/*图片大小和位置*/
.image {
    position: absolute;
    width: 170px;
    height: 170px;
    top: 40%;
    left: 25%;
    opacity: 0.8;
}
/*独角兽1那一张*/
.smaller {
    width: 170px;
    height: 160px;
    top: 42%;
    left: 28%;
    opacity: 0.9;
}

button {
    padding: 12px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    margin: auto;
    outline: none;
    display: block;
}

button:hover {
    background: #b6bee3;
    color: #f6f6f6;
    transition: background-color 1s ease-out;
}

.button {
    margin-top: 5%;
    background: #f6f6f6;
    color: rgba(92, 100, 198, 0.87);
    border: solid 1px #b6bee3;
}

/* 表单样式 */
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7px;
}

.more-padding {
    padding-top: 35px;
}

.more-padding input {
    padding: 12px;
}

.more-padding .sumbit {
    margin-top: 45px;
}

.sumbit {
    margin-top: 25px;
    padding: 12px;
    border-color: rgba(92, 100, 198, 0.87);
}

.sumbit:hover {
    background: #cbc0d3;
    border-color: #bfb1c9;
}
/*注册框 背景 没有外边框*/
input {
    background: #b6bee3;
    width: 65%;
    color: rgba(111, 117, 213, 0.87);
    border: none;
    border-bottom: 1px solid rgba(246, 246, 246, 0.5);
    padding: 9px;
    font-weight: 100;
}
/*没有文字时*/
input::placeholder {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1.0em;
    font-weight: 100;
}
/*点击之后*/
input:focus {
    color: rgba(92, 100, 198, 0.87);
    outline: none;
    border-bottom: 1.2px solid rgb(98, 83, 191);
    font-size: 1.0em;
    transition: 0.8s all ease;
}

input:focus::placeholder {
    opacity: 0;
}

label {
    font-family: "Open Sans", sans-serif;
    color: rgba(92, 100, 198, 0.87);
    font-size: 0.8em;
    letter-spacing: 1px;
}

.checkbox {
    display: inline;
    white-space: nowrap;
    position: relative;
    left: -52px;
    top: 25px;
}

input[type=checkbox] {
    width: 15px;
    background: rgba(92, 100, 198, 0.87);
}

.checkbox input[type=checkbox]:checked + label {
    color: rgba(92, 100, 198, 0.87);
    transition: 0.5s all ease;
}
